#menu-card-image {
    vertical-align: middle;
    width: 10em;
    height: 12em;
    object-fit: cover;
    border-radius: 5%;
}

.MenuCard {
    position: relative;
    max-width: 230px;
    padding: 8px;
    margin: 8px;
    background-color: white;
    border-radius: 10%;
}
.MenuCard:hover {
    cursor: pointer;
}

.menu-name {
    font-weight: bold;
    font-size: 1.5rem;
}
