.main-content {
  display: flex;
}
.F2TImg {
  object-fit: cover;
  object-position: 75%;
  height: 90vh;
  width: 35vw;
}

.imgcont {
  display: flex;
}

.bulletlist {
  list-style-type: disc;
  padding: 50px;
  padding-right: 100px;
}

.bulletlistitem {
  margin-bottom: 50px;
  font-size: large;
}

#lastitem {
  margin-bottom: 0px;
}