.main-content {
  display: flex;
  flex-direction: column;
}
.F2TImg {
  position: sticky;
  top: 0px;
  object-fit: cover;
  object-position: 75%;
  height: 100vh;
  width: 35vw;
}

.imgcont {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  height: 200vh;
}

.bulletlist {
  position: sticky;
  top: 0px;
  bottom: 20vh;
  list-style-type: disc;
}

.bulletlistitem {
  margin-bottom: 50px;
  font-size: large;
}

#firstitem {
  margin-top: 15vh;
}

#lastitem {
  margin-bottom: 15vh;
}