.App {
  text-align: center;
}

/* Common css */
.row {
  display: inline-flex;
  align-items: center;
}

.gap16 {
  gap: 16px
}

.margin16 {
  margin: 16px;
}

.border-black {
  border-radius: 4px;
  border: 2px solid #28282B;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
